/* Register.css */

.register-container {
  background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 10px;
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width */
  margin: 50px auto; /* Center the container */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue color for the button */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button[type='submit']:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

.login-link {
  text-align: center;
  color: #666;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.register-container h2
{
  color: rgba(98, 0, 255, 0.69);
}
.login-link p
{
  font-size: 21px;
  color: #dc0f0f;
}